
.cardCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh; 
  width: 40vh; 
  padding:5%;
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 1) 0px 1px 4px;
  background-color: rgba(66,77,144, 1);
  flex-wrap: wrap;
}
.cardCont:nth-child(2){
  background-color: var(--teal);
}
.cardCont:hover{
  cursor: pointer;
  animation: 'shakeX';
  animation-duration: 2s;
  animation: 'shakeY';
  animation-duration: 3s;
}
.title{
  font-size: 170%;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 2%;
  color: #f9f9f9;
}
.subText{
  font-size: 140;
  color: #fdfcfb;
  letter-spacing: 1px;

}
