
.cardCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh; 
  width: 40vh; 
  padding:3%;
  margin-top: 5%;
  box-shadow: 2px 2px 10px 8px rgba(109,157,158, .4);
  background-color: var(--white);
  flex-wrap: wrap;
}
.cardCont:hover{
  cursor: pointer;
  animation: 'shakeY';
  animation-duration: 2s;
}
.title{
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 2%;
  color: var(--teal);
}
.subText{
  font-size: 1.2rem;
  color: var(--brown);
  letter-spacing: 1px;
}
