.pageW{
  display: flex;
  flex-direction: column;
  padding:5%;
  justify-content: space-evenly;
}
.header{
  display:flex;
  flex-direction: row;
  width:100%;
  background-color: rgba(114,45,84);
  min-height:60vh;
  color:white;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
.title {
  font-size: 500%;
  text-align: center;
  font-weight: medium;
  letter-spacing: 2px;
  color: white;
  letter-spacing: 3px;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: auto;
  margin-bottom:5%;
  min-height:80vh;
  margin-top:7%;
  border: solid 1px #E5E4E2;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  height: auto;
  padding: 2%;
  border-radius: 2px;
  min-width: 70%;
}
.formTitle{
  width: 100%;
  padding-bottom: 2%;
  border-bottom: 3px solid #E5E4E2;
  margin-bottom: 2%;
  font-size: 150%;
  letter-spacing: 1px;
  font-weight: bold;
  color:var(--subPurp);
}
.field{
  display: flex;
  flex-direction: column;
  width: 98%;
  margin-bottom: 5%;
}
.field label{
  margin-bottom: 1%;
  font-weight: bold;
  color:var(--teal);
}
.field input{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  width: 100%;
  border: 1px solid #E5E4E2;
}
.fields_row{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.field_2inputs{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5%;
}
.field_2inputs label{
  margin-bottom: 1%;
  font-weight: bold;
  color:var(--teal);
}
.field_2inputs input{
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  width: 94%;
  margin: 1%;
  border: 1px solid #E5E4E2;
}
.buttonHolder{
  display: flex;
  width: 100%;
  justify-content: center;
}
.button{
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: center;
  font-size: 150%;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(66,77,144);
  color:rgba(66,77,144,.8);
}
.button:hover{
  background-color: rgba(66,77,144,.8);
  color:white;
  box-shadow: 4px 4px 6px 6px rgba(66,77, 144, .3);
  cursor:pointer;
  border:none;
}
.image{
  display: flex;
  flex-direction: column;
}
.headerText{
  width: 60%;
}