.page{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  padding: 7%;
  min-height: 100vh;
}
.title {
  margin: 3%;
  font-size: 400%;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--teal);
  border-bottom: 1px solid var(--teal) 30%;
};
.border{
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  height: 15px;
  background-color: var(--teal);
}
.tripContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5%;
}
