.page {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  padding: 5%;
  min-height: 100vh;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 95%;
  margin-top:10%;
  margin-bottom:5%;
  padding-right: 5%;
}
.image{
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 400%;
  text-align: left;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--teal);
  border-bottom: 1px solid var(--teal) 30%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  height: auto;
  padding: 2%;
  margin: 10% 5%;
  border: solid 1px #E5E4E2;
  border-radius: 2px;
  min-width: 75%;
}
.formTitle{
  width: 100%;
  padding-bottom: 2%;
  border-bottom: 3px solid #E5E4E2;
  margin-bottom: 2%;
  font-size: 150%;
  letter-spacing: 1px;
  font-weight: bold;
  color:rgba(66,77,144);
}
.field{
  display: flex;
  flex-direction: column;
  width: 98%;
  margin-bottom: 5%;
}
.field label{
  margin-bottom: 1%;
  font-weight: bold;
  color:var(--teal);
}
.field input{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  width: 100%;
  border: 1px solid #E5E4E2;
}
.fields_row{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.field_2inputs{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5%;
}
.field_2inputs label{
  margin-bottom: 1%;
  font-weight: bold;
  color:var(--teal);
}
.field_2inputs input{
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  width: 94%;
  margin: 1%;
  border: 1px solid #E5E4E2;
}
.buttonHolder{
display: flex;
width: 100%;
justify-content: center;
}
.button{
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: center;
  font-size: 150%;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(66,77,144,.4);
  color: rgba(66,77,144);
}
.button:hover{
  transform: scale(1.02);
  cursor:pointer;
}




.textSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.subText {
  font-size: 140%;
  text-align: left;
  font-weight: bold;
  letter-spacing: .5px;
  margin-top: 3%;
  line-height: 115%;
}




