*{
  margin: 0;
  padding: 0;
  box-sizing: none;
}
:root{
  --teal:#6d9d9e;
  --brown: #6f584d;
  --red: #7c2020;
  --ruby: #cd342e;
  --white: #fdfcfb;
  --teal_r:(109,157,158);
  --brown_r: (111,88,77);
  --red_r: #7c2020;
  --ruby_r: #cd342e;
  --white_r: #fdfcfb;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


.title {
  margin: 3%;
  font-size: 400%;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--teal);
  border-bottom: 1px solid var(--teal) 30%;
};

