*{
  margin: 0;
  padding: 0;
  box-sizing: none;
}
:root{
  --teal:rgba(88, 42, 68,1);
  --subPurp:rgba(88,42,68, .6);
  --brown: #6f584d;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}