
.button{
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: center;
  text-align:center;
  font-size: 150%;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(66,77,144);
  color:rgba(66,77,144,.8);
  margin-bottom: 3%;
  margin-top:2%;
}
.button:hover{
  background-color: rgba(66,77,144,.8);
  color:white;
  box-shadow: 4px 4px 6px 6px rgba(66,77, 144, .3);
  cursor:pointer;
  border:none;
}
.activities{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 96%;
  background-color: rgba(66,77,144);
  border-radius:2px;
  padding:2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.sectionContainerLeft{
  margin-top:2%;
  padding-top: 2%;
  padding-bottom:2%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.sectionTitle{
  font-size: 300%;
  font-weight: bold;
  letter-spacing: 3px;
  text-align:center;
  margin-bottom:2%;
  margin-top:5%;
  color: rgba(114,45,84);
}
.sectionContent{
  font-size: 120%;
  padding: 1%;
}
.sectionContainerCenter{
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(216,186,163, .3);
  height:auto;
  border-radius:2px;
  padding:5%;

}
.lodging{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, .8);
  padding:5%;
  border-radius:2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.lodging span{
  margin-left: 1%;
  color: var(--teal);
}
.header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom:3%;
}
.headerText{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-left: 4px solid rgba(216,186,163);
  padding:1%;
}
.subText{
  font-size:120%;
  padding-left:2%;
  padding-top:2%;
  letter-spacing: 1px;
  font-weight: bold;
  padding-right:4%;

}
.headerImage{
  height: auto;
  width: 50%;
  background-image: url('/smokies.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.page{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  padding: 7%;
  height: auto;
}
.title {
  font-size: 400%;
  text-align: left;
  font-weight: bold;
  letter-spacing: 4px;
  color: var(--teal);
};

